<app-spinner *ngIf="cargando"></app-spinner>


  <div *ngIf="!cargando">
  
    
    
    <div class=" mt-4" style="margin-left: 10px;">
      <button class="btn" style="background-color: #14213d; color: white;" (click)="crearUsuarioForm()">Agregar Usuario</button>
    </div>
    
    <div class="tabla">
    
      <div class="mat-elevation-z8" style="border-radius: 20px; background-color: #dce1de;">
      
        <div class=" mt-3 col-md-3" >
          <mat-form-field appearance="fill">
              <mat-label>Filtrar</mat-label>
              <input matInput (keyup)="applyFilter($event)" type="text" placeholder="Ex. Camilo" #input>
          </mat-form-field>
      
          
          <div class="texto-tabla">
            <h1 class="letter">Tabla Usuarios</h1>
          </div>
        </div>
      
          <table mat-table [dataSource]="dataSource" matSort>
        
            <div matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
      
              <div *ngIf=" column !== 'acciones' " >
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>             
                  
                    <td mat-cell *matCellDef="let user"> {{user[column]}} </td>                
                
              </div>
      
              <div *ngIf=" column == 'acciones' " >
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
                <td mat-cell *matCellDef="let user"> 
                  <div class="btnEditar">
                  <a href=""  class="opcion editar" (click)="btnEditar(user)"><span class="material-symbols-outlined">edit</span></a>
                  </div>
                  
                  <div class="btnEliminar">
                  <a href="" class="opcion eliminar" (click)="btnEliminar(user.id)"> <span class="material-symbols-outlined">delete</span></a>
                  </div>         
                </td>
              </div>
            </div>     
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let user; columns: displayedColumns;"></tr>  
            
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No hay datos para filtrar "{{input.value}}"</td>
            </tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
  </div>
    
