
<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false" style="border-radius: 20px;">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <h3><strong>Tablas</strong></h3>
      
      <a mat-list-item href="/usuarios"><span class="material-symbols-outlined">group</span> Usuarios</a>
      <a mat-list-item href="/categorias"> <span class="material-symbols-outlined">category</span> Categorias</a>
      <a mat-list-item href="/examenes"> <span class="material-symbols-outlined">list_alt</span> Examenes</a>
      <a mat-list-item href="/preguntas"> <span class="material-symbols-outlined">help_center</span> Preguntas</a>

      
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="background-color: #e9ecef;">
    <mat-toolbar class="color_per">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>sistema examenes</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet ></router-outlet>
   
  </mat-sidenav-content>
</mat-sidenav-container>
